#Veštine {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.contactPageTitle {
  font-size: 2em;
  margin-bottom: 1em;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}

.skill .fa-layers {
  margin-bottom: 0.5em;
}

.skill-name {
  margin-top: 0.4em;
}
